<h1>DataExtractor#index</h1>
<p>Find me in app/views/data_extractor/index.html.erb</p>


<%= @pdf_version %> <br/> <hr/>
<%=    @info %> <br/> <hr/>
 <%=   @metadata %> <br/> <hr/>
 <%=   @page_count %> <br/> <hr/>

